#CLion Project folders
FundLab/lab05/cmake-build-debug/
FundLab/lab05/.idea/
CMakeLists.txt

#Unwanted school folders
Logic/
CalcII/
TechCult/

.DS_Store

FundLab/lab07-2/lab07-2/Debug/
*.vcxproj
*.filters
FundLab/lab07-2/Debug/
FundLab/lab07-2/.vs/
FundLab/Lab07/Lab07/Debug/
FundLab/Lab07/.vs/
FundLab/Lab07/Debug/
